@model IReadOnlyList<PhotoThumbnailItem>

<div class="qz-photo-grid">
  @foreach (var photo in Model)
  {
    <figure class="qz-photo-thumb">
      <a href="@photo.DetailPath">
        <img
          src="@photo.ThumbnailUrl"
          alt="@photo.Title"
          width="@photo.ThumbWidth"
          height="@photo.ThumbHeight"
          loading="lazy">
      </a>
      <figcaption>
        <a class="qz-photo-thumb__title" href="@photo.DetailPath">@photo.Title</a>
        <span class="qz-photo-thumb__meta">@photo.Year</span>
      </figcaption>
    </figure>
  }
</div>
